section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 150px;
}

header {
    text-align: center;
}
main{
    padding: 25px 50px 100px 25px
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.tab{
    text-indent: 40px;
}
.title-color {
    color: darkolivegreen;
}
.section-color {
    background-color: lightgray;
}

small  {
    font-style: italic;
}

#article-title {
    font-family: cursive;
    text-transform: capitalize;
  }